/* Estilos para Mobile < 768px */

@media (max-width: 768px) {

    body {
        .container {
            margin: 0 auto;
            margin-top: 25px;
            width: 80%;
            padding: 0;
            padding: 30px 30px;
            position: relative;
            top: initial;
            left: initial;
            -webkit-transform: none;
            transform: none;
        }
    }

    header {
        nav {
            li a {
                font-size: 12px;
            }
        }    
    }

    main {
        .main__box {
            margin: 20px 0;
            img {
                width: 100px;
            }
            h2 {
                font-size: 15px;
            }
        }        
        .main__subox-icons {
            width: 70%;
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                & li {
                    margin-right: 10px;
                    list-style: none;
                    & img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
