@media screen and (min-width: 0) {
    .experiencia {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }

    .experiencia__imagem {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }

    .experiencia__sobre {
        align-items: center;
        justify-content: center;
    }

    .experiencia__sobre__lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
 
    .experiencia__sobre___itens {
        display: flex;
        justify-content: center;
    }

    .experiencia__sobre___titulo {
        display: block;
        font-size: 16px;
    }

    .experiencia__sobre___descricao {
        display: block;
        font-size: 12px;
        font-weight: 100;
    }    
    .experiencia__botao--repo {
        font-size: 14px;
        color: #2A7AE4;
        padding: 0.5rem 1rem;
        border-color: #2A7AE4;
    }

    .experiencia__botao--demo {
        font-size: 14px;
        color: #fdfdfd;
        padding: 0.5rem 1rem;
        background-color: #2A7AFF;
        border-color: #2A7AE4;
        text-decoration: none;
    }
}

@media screen and (min-width: 1024px) {
    .experiencia {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin: 2rem 0;
    }

    .experiencia__imagem {
        width: 600px;
        height: 400px;
        border-radius: 12px;
    }

    .experiencia__sobre__lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .experiencia__sobre___itens {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .experiencia__sobre___titulo {
        display: flex;
        font-size: 22px;
    }
    
    .experiencia__sobre___descricao {
        display: flex;
        font-size: 16px;
        font-weight: 100;
    }   

    .experiencia__botao--repo {
        font-size: 16px;
        color: #2A7AE4;
        padding: 1rem 2rem;
        border-color: #2A7AE4;
    }
    
    .experiencia__botao--demo {
        font-size: 16px;
        color: #fdfdfd;
        padding: 1rem 2rem;
        background-color: #2A7AFF;
        border-color: #2A7AE4;
        text-decoration: none;
    }
}